<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="run.aiwan.ba02.Student">
        <property name="name" value="foo" />
        <property name="age" value="21" />
        <property name="school" ref="school" />
    </bean>
    <bean id="school" class="run.aiwan.ba02.School">
        <property name="name" value="北京大学" />
        <property name="address" value="北京的海淀区" />
    </bean>
</beans>