<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--设置打印日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <!--起别名，resultType可以简写-->
        <package name="run.aiwan.domain"/>
    </typeAliases>

    <mappers>
        <package name="run.aiwan.dao"/>
    </mappers>
</configuration>